.App {
  display: flex;
  text-align: center;
  justify-content: center;
  color:green; 
  font-size:30px;
  background: black;

}
  .App {
    border-bottom: 2px solid white;
    height: 75px;
    width: 100%;
    padding: 0 10px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    z-index: 4;
    background: rgba(2, 2, 2, 0.5);
}
  /* // const NavStyle = {
    //   margin:"auto",
  //   width:"1120px"
  // }
  // const navbarlogo ={
  //   marginTop:"30px"
  // }
  // const logoStayle = {
  //   color:"white",
  //   textDecoration: "none",
  //   fontFamily:"san-serif"
  // } */